body {
	font-family: Arial, Helvetica, sans-serif;

	margin: 0;

	background: #fff;
}

.hidden {
	display: none;
}

.container {
	box-sizing: border-box;
	width: 100%;
	min-width: var(--content-min-width);
	max-width: var(--content-max-width);
	margin: 0 auto;
	padding: 0 var(--content-padding-x);
}
